/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  background-color: #f9f9f9;
}


.l-header{
	height: 56px;
	display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: #fff;
}

.b-hamburger {
  width: 24px;
  height: 24px;
  padding: 8px;
  margin-right: 4px;
}

.b-logo{
  display: flex;
}

.b-logo__svg-logo {
  width: 80px;
  height: 24px;
}

.b-logo__country-code {
  color: #606060;
  margin-left: 2px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.b-search-box {
  display: none;
}

.b-icons {
  color: #606060;
  width: 220px;
  height: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.b-icons__icon{
  width: 24px;
  height: 24px;
  padding: 8px;
  fill: currentColor;
  pointer-events: none;
  display: block;
}

.b-icons__profile-picture {
  border-radius: 50%;
  padding: 1px 6px;
  margin: 0 8px;
}

@media (min-width: 656px) {
  .l-header {
    padding: 0 16px;
  }

  .b-hamburger {
    margin-right: 16px;
  }

  .b-icons__search-icon{
    display: none;
  }

  .b-search-box {
    height: 32px;
    margin: 0 40px;
    display: block;
  }

  .b-search-box__form {
    display: flex;
    border: 1px solid #d3d3d3;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .b-search-box__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 65px;
    background-color: #f8f8f8;
    color: #333;
    opacity: 0.6;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #d8d8d8 rgb(209, 209, 209) #bababa;
    border-image: initial;
  }

  .b-search-box__search-icon{
    fill: currentColor;
    pointer-events: none;
    display: block;
    width: 20px;
    height: 20px;
  }
}






