/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  background-color: #f9f9f9;
}


.l-header{
	height: 56px;
	display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
  box-sizing: border-box;
}

.b-header-left{
  display: flex;
  align-items: center;
}

.b-hamburger {
  width: 24px;
  height: 24px;
  padding: 8px;
  margin-right: 4px;
}

.b-logo{
  display: flex;
}

.b-logo__svg-logo {
  width: 80px;
  height: 24px;
}

.b-logo__country-code {
  color: #606060;
  margin-left: 2px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.b-search-box {
  display: none;
}

.b-icons {
  color: #606060;
  width: 220px;
  height: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.b-icons__icon{
  width: 24px;
  height: 24px;
  padding: 8px;
  fill: currentColor;
  pointer-events: none;
  display: block;
}

.b-icons__profile-picture {
  border-radius: 50%;
  padding: 1px 6px;
  margin: 0 8px;
}
.l-main{
  margin-top: 56px;
  height: 200vh;
  border: 1px solid;
  padding: 24px 24px 0px 24px;
}

.b-video-container{
  position: relative;
  padding-bottom: 56.25%;
}

 .b-video-container__video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-video-meta{
  padding: 20px 0px 8px;
  border: 1px solid #ccc;
}

@media (min-width: 656px) {
  .l-header {
    padding: 0 16px;
    justify-content: space-between;
  }

  .b-hamburger {
    margin-right: 16px;
  }

  .b-icons__search-icon{
    display: none;
  }

  .b-search-box {
    height: 32px;
    margin: 0 40px;
    display: block;
    flex: 1;
    max-width: 640px;
  }

  .b-search-box__form {
    display: flex;
  }

  .b-search-box__input {
    border: 0;
    font-family: Roboto, Arial, sans-serif;
    padding: 1px 0 1px 11px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .b-search-box__input:focus {
    border: 1px solid #1c62b8;
    outline:none;
  }

  .b-search-box__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 65px;
    background-color: #f8f8f8;
    color: #828282;
    padding: 1px 7px 2px;
    border: 1px solid #ccc;
    border-left: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
  }

  .b-search-box__button:hover {
    background-color: #f0f0f0;
    color: #333;
  }

  .b-search-box__search-icon{
    fill: currentColor;
    pointer-events: none;
    display: block;
    width: 20px;
    height: 20px;
  }

  .b-icons{
    margin-left: initial;
  }

  .b-icons__icon {
    margin: 0 8px 0 0;
    padding: 8px;
  }

  .b-icons__profile-picture {
    margin-right: 4px;
  }
}






